<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="css/index.css" type = "text/css">
    <title>Index</title>
</head>
<body>
    <div class="container col-xxl-8 px-4 py-5 centre">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">IITR Library</h1>
            <p class="lead">Where words become windows to endless possibilities.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a href = "login"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Login</button></a>
              <a href = "register"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Register</button></a>
            </div>
          </div>
        </div>
      </div>
    
    <%- include('./partials/footer.ejs') %>
    <script src = "js/index.js"></script>
</body>
</html>